#main {
    width: 800px;
    height: 1000px;
    margin: 0 auto;
}
#search {
    position: relative;
    width: 300px;
    height: 30px;
    margin: 20px auto;
}
#search input {
    width: 200px;
    height: 30px;
    font-size: 18px;
}
#search button {
    width: 80px;
    height: 37px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 10px 10px;
    cursor: pointer;
    background-color:#33a3dc;
    border: none;
    color: white;
}
#search #currentCity {
    text-align: center;
    font-size: 16px;
    width: 200px;
    height: 24px;
    font-weight: 650;
    margin-left: 40px;
    margin-top:10px;
    

}